<div id="main">
  <h2>Dashboard</h2>
  <h3>as a Buyer</h3>
  
  <p>
    <%= link_to 'Products I have bought', orders_path %>
  </p>
  <h3>as a Seller</h3>
  <p>
    <%= link_to 'List of Products that I am Selling...', seller_products_path %> | <%= link_to 'Add New product',new_seller_product_path %> | <%= link_to 'Search and Add', search_seller_products_path %> |
  </p>
  <p>
    <%= link_to 'Orders I have received...', orders_path %>
  </p>
  <h3>General Settings</h3>
  <p>
    <%= link_to 'Profile', change_password_url %>
  </p>
  <p>
    <%= link_to 'Change Password', change_password_url %>
  </p>
</div>
