  <table width="100%" cellspacing="5" cellpading="5">
    <tr>
      <td>
        <%= f.label :sku %>
      </td>
      <td>
        <%= f.text_field :sku %>
      </td>
      <td>
        <%= f.label :quantity %> 
      </td>
      <td>
        <%= f.text_field :quantity %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :list_price %>
      </td>
      <td>
        <%= f.text_field :list_price, :size => 10 %>
      </td>
      <td>
        <%= f.label :offer_price %>
      </td>
      <td>
        <%= f.text_field :offer_price,:size => 10 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :date_available %>
      </td>
      <td>
        <%= f.text_field :date_available, :class => "date_available" %>
      </td>
      <td>
        <%= f.label :expired_at %>
      </td>
      <td>
        <%= f.text_field :expired_at, :class => "date_available"%>
      </td>
    </tr>
</table>
