<h2>List of Products that I am Selling....</h2>
<table cellpadding="5" cellspacing="0" border="1" width="100%">
  <tr>
    <th>Product Id</th>
    <th>Product Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>		
  </tr>
  <%
    odd_or_even = 0
    for offer in @offers
      odd_or_even = 1 - odd_or_even 
      upo = UserProductOffer.find_by_offer_id(offer.id)
      product = Product.find_by_id(upo.product_id);
      %>
  <tr valign="top" class="ListLine<%= odd_or_even %>">
    <td><%= offer.id %></td>
    <td><%=h (product.title) %></td>
    <td>
      
      <img width="100" height="100" src="<%= product.image_url %>"/>
      <div id="images">    
        <%# offer.offer_images.in_groups_of(3) do |group| %>
          <%# render :partial => 'offer_image', :collection => group %>
          <p style="clear: both"/>
        <%# end %>
      </div>
      
      <%= (truncate(product.good_description, 300)) %>
      <%= offer.date_available.strftime("Available from %d %B %Y") unless !offer.date_available? %>
    </td>
    <td align="right">
      <br/>
      <strong>$<%= sprintf("%0.2f", offer.list_price) unless offer.list_price.nil? %></strong>
    </td>
    <td width="15%" class="action_icons">
      <%= link_to image_tag("products/info.png", :border=>0, :title=>'Show Offer' ,:align => 'absmiddle'), :action => 'show', :id => offer %>
      
      <%= link_to image_tag("products/edit_page.png", :border=>0, :title=>'Edit Offer' ,:align => 'absmiddle'), :action => 'edit', :id => offer %>
      
      <%= link_to image_tag("products/delete.png", :border=>0, :title=>'Delete Offer' ,:align => 'absmiddle'), { :action => 'destroy', :id => offer },
          :confirm => "Are you sure you want to delete?", :method => :delete  %>
    </td>
  </tr>
<% end %>

</table>
<%= link_to image_tag("products/add.png", :border=>0, :title=>'Add New Product' ,:align => 'absmiddle'), new_seller_product_path %>
<%= link_to image_tag("products/home.png", :border=>0, :title=>'Home' ,:align => 'absmiddle'), dashboard_path %>
