<h2>New product</h2>
<%= include_tiny_mce_if_needed %>
<% form_for([:seller,@product],:url => { :action => "create" },:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <table border="1" cellpadding="10">	
    <tr>
      <td width="20%"><%= f.label :title %> </td>	
      <td><%= f.text_field :title,:size => 110 %></td>
    </tr>
    <tr>
      <td width="20%"><%= f.label :product_code %> </td>	
      <td><%= f.text_field :product_code,:size => 30 %></td>
    </tr>
    <tr>				
      <td colspan="2"><%= f.label :description %><%= f.text_area :description,:class => 'mceEditor', :cols => 80, :rows => 40%></td>
    </tr>
    <tr>	
      <td>Tags (seperated by space) </td>				
      <td><%= text_field_tag('tags', '') %></td>
    </tr>
    <tr>	
      <td >
      Category </td><td> <%= f.select ("category_id", @categories.map {|u| [u.name,u.id]}) %></td>
    </tr>
    <tr>
      <td class="row_header"  colspan="2">Images</td>
    </tr>
    <tr>
      <td colspan="2">
	Primary Image: <br/>
        <%= file_field :attachment,:file0%> <br/>
        Additional Images: <br/>
        <%= file_field :attachment,:file1%> <br/>
        <%= file_field :attachment,:file2%> <br/>
        <%= file_field :attachment,:file3%> <br/>
        <%= file_field :attachment,:file4%> <br/>
        <%= file_field :attachment,:file5%> <br/>
      </td>
    </tr>
    <tr>
      <td class="row_header" colspan="2">Offer Details</td>
    </tr>
    <tr>
      <td colspan="2">
        <% f.fields_for :offers do |offer| %>  
          <%= render 'offer', :f => offer %>  
        <% end %> 
      </td>
    </tr>

  </table>
  <%= image_submit_tag("products/save.png", :border=>0, :title=>'Add Product Details' ,:align => 'absmiddle') %>
  <%= link_to image_tag("products/back.png", :border=>0, :title=>'Back to Product List' ,:align => 'absmiddle'), seller_products_path %>
<% end %>
