<div id="signup_dialog" style="display:none;">
<% form_for :user,:url => {:controller=>"users", :action => "create" },:html => {:id => 'signup_form'} do |f| -%>
  <fieldset>    
    <%= error_messages_for :user %>
    <p><label for="login">Login</label><br/>
    <%= f.text_field :login %></p>

    <p><label for="email">Email</label><br/>
    <%= f.text_field :email %></p>

    <p><label for="password">Password</label><br/>
    <%= f.password_field :password %></p>

    <p><label for="password_confirmation">Confirm Password</label><br/>
    <%= f.password_field :password_confirmation %></p>    
  </fieldset>
<% end -%>
</div>