<h1>Editing category</h1>

<% form_for([:system,@category]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.text_field :is_active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', system_category_path(@category) %> |
<%= link_to 'Back', system_categories_path %>
