<h1>Editing product</h1>
<%= include_tiny_mce_if_needed %>
<% form_for(@product,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description,:class => 'mceEditor'%>
  </p>
  <p>
  <div id="images">
    Upload Image (*.png,*.jpg,*.gif)
    <% @product.product_images.in_groups_of(3) do |group| %>
      <%= render :partial => 'product_image', :collection => group %>
      <p style="clear: both"/>
    <% end %>
  </div>

  <p style="clear: both"/>
    <%= link_to_function image_tag('add.png', :border => 0, :alt => "Add image.",:align=>"absmiddle") + "&nbsp;Add Image" do |page|
      page.insert_html :bottom, :images, :partial => "product_image", :object => ProductImage.new
    end %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :date_available %><br />
    <%= f.datetime_select :date_available %>
  </p>
  <p>
    Tags (seperated by space)<br/>
    <%= text_field_tag('tags', '') %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
